* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
}

header {
  background-image: url("../img/paesdiversos.jpg");
  background-size: cover;
  max-width: 100%;
  height: 500px;
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  position: relative;
}

.container-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-tour-catalogo {
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: transparent;
  border: 2px solid white;
  font-size: 10px;
  font-weight: bold;
  color: white;
  margin-top: 20px;
}

input.btn-tour-receita {
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: transparent;
  font-size: 10px;
  font-weight: bold;
  color: rgb(151, 112, 4);
  border: 2px solid rgb(151, 112, 4);
  margin-top: 20px;

}

.receita {
  width: 100%;
  height: 500px;
  background-color: rgb(207, 158, 85);
  padding-bottom: 10px;
  margin: 0;
  padding: 0;
}

.receita img {
  width: 50%;
  height: 100%;
  float: left;
  object-fit: cover;
}

.img1 {
  display: inline-block;
  background-image: url("../img/cookies.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 40%;
  height: 400px;
  margin-top: 50px;

}

.descricao {
  width: 50%;
  height: 100%;
  float: left;
  text-align: justify;
  padding: 80px;
  box-sizing: border-box;
}


.servicos {
  background-image: url("../img/serviços.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  text-align: center;
}

.icons {
  width: 80px;
  height: 80px;
  background-color: transparent;
  box-sizing: border-box;
  padding: 10px;
  padding-top: 20px;
}

footer {
  position: relative;
  height: 100px;
}

footer h3 {
  position: absolute;
  color: white;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width:1170px) {
  .receita {
    height: 850px;
  }

  .receita img {
    width: 100%;
    height: 50%;
  }

  .descricao {
    width: 100%;
    height: 50%;
    box-sizing: border-box;
  }

  .btn-tour-receita {
    margin-bottom: 20px;
  }

}

@media only screen and (max-width:860px) {
  .receita {
    height: 1000px;
  }
}

@media only screen and (max-width:590px) {
  header {
    height: 700px;

  }

  .receita {
    height: 1100px;
  }

  .receita img {
    object-fit: cover;
  }

}

@media only screen and (max-width:520px) {
  header {
    height: 700px;

  }

  .receita {
    height: 1300px;
  }

}